@media screen and (max-width: 768px) {
  .section-main {
    padding: 20px; /* reduced padding for smaller screens */
    align-items: center; /* centered items  */
  }

  .section-main h1 {
    font-size: 40px; /*  font size for phone screen */
    line-height: 60px;
  }

  .section-main p {
    max-width: 100%; /* adjusted width to fit smaller screens */
    font-size: 1em; /* decreased font size for smaller screens */
    margin-top: 10px;
  }

  header {
    padding: 20px; /* reduced padding for phone*/
  }

  header .me {
    font-size: 20px; /* smaller font size for phone */
  }

  header .menu {
    padding-right: 10px; /* reduced padding for phone*/
  }

  header .menu a {
    font-size: 14px;
    margin: 0 10px; /* smaller margin for phone screen */
  }


  .gallery .content .card {
    width: 100%; /*  one image per row for phone screen */
    margin: 15px 0; /*  margin for phone screen */
  }

  .footer .footer-title {
    font-size: 16px; /*  font size is smaller for phone*/
  }

  .footer p {
    font-size: 12px; /*  font size for phone screen */
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
  }


  .welcome-message {
    font-size: 0.5rem;
    color: #666;
    justify-content: center;

  }
  .gallery .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .gallery .content .card {
    width: calc(50% - 30px);
    margin: 15px;
  }


}
