@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255); /* #fff */
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: rgb(255, 255, 255); /* #fff */
  text-decoration: none;
}

section {
  padding: 40px;
}

h2 {
  text-align: center;
}

footer {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255); /* #fff */
  padding: 20px;
  text-align: center;
}

/* Grid Styles */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.project {
  background-color: rgb(245, 245, 245);
  padding: 20px;
  text-align: center;
}

.project img {
  max-width: 100%;
}

.project h3 {
  margin-top: 10px;
}

.project p {
  font-size: 14px;
  margin-top: 5px;
}

/* Media Queries */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
