*html, body, title, footer, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, figure, figcaption, nav, header, main, img
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/*
.section-main{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: url(../images/bg.jpg) no-repeat ;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}
*/

.section-main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  padding: 20px 100px;
}

.section-main h1{
	color: grey;
	font-size: 60px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 80px;
}
.section-main p {
  width: 100%;
  max-width: 800px; /*  maximum width preference */
  color: #fff;
  font-size: 1.2em; /* maximum width preference */
  margin-top: 20px;
}

.resume-section {
	margin-bottom: 0;
	max-width: 900px;
	min-width: 50px;


}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.name {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.welcome-message {
  font-size: 1.5rem;
  color: #666;
}

header{
    background: rgb(135,206,235);
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 100px;
	transition: 0.6s;
}

header .me{
	color: deeppink;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
}

header .menu{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .menu a{
	color: deeppink;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	margin: 0 30px;
	padding: 0 10px;
	border-radius: 20px;
	transition: 0.3s;
	transition-property: color, background;
}

header .menu a:hover{
	color: #000;
	background: #fff;
}

header .btn{
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	display: none;
}


body {
	background: url('../images/bg.jpg');
	background-size: cover;
	font-family: sans-serif;
}
.loadlogin {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form {
	position: relative;
	width: 100%;
	max-width: 380px;
	padding: 80px 40px;
	background: rgba(0,0,0,0.7);
	border-radius: 10px;
	color: #fff;
	box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
.form::before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255,255,255, 0.08);
	transform: skewX(-26deg);
	transform-origin: bottom left;
	border-radius: 10px;
	pointer-events: none;
}
.form img {
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
	width: 100px;
	background: rgba(255,255,255, 0.8);
	border-radius: 50%;
}
.form h2 {
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 2rem;
	color: deeppink;
}
.form .input-group {
	position: relative;
	text-align: right;
}
.form .input-group input {
	width: 100%;
	padding: 10px 0;
	font-size: 1rem;
	letter-spacing: 5px;
	margin-bottom: 30px;
	border: none;

	border-bottom: 1px solid whitesmoke;;
	outline: none;
	background-color: transparent;
	color: inherit;
}
.form .input-group label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 1rem;
	pointer-events: none;
	transition: .3s ease-out;
}
.form .input-group input:focus + label,
.form .input-group input:valid + label {
	transform: translateY(-18px);
	color: deeppink;
	font-size: .8rem;
}
.submit-btn {
	display: block;
	margin-left: auto;
	border: none;
	outline: none;
	background: deeppink;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}
.forgotpassword {
	color: inherit;
}

#forgotpassword {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	z-index: 1;
	background: #fff;
	opacity: 0;
	transition: 0.6s;
}
#forgotpassword:target {
	height: 100%;
	opacity: 1;
}
.close {
	position: absolute;
	right: 1.5rem;
	top: 0.5rem;
	font-size: 2rem;
	font-weight: 900;
	text-decoration: none;
	color: inherit;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Ensures that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
	background-color: mediumpurple;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
button[type=reset] {
	background-color: mediumpurple;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* Add a background color and some padding around the form */
.addblogbox {
	border-radius: 5px;
	background-color: lavender;
	padding: 50px;

}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Tahoma;
	font-size: 0.9em;
}

div#addblogbox {
	position: relative;
}

li {
	list-style-type: none;
}

header ul {
	list-style-type: none;
	margin: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	overflow: hidden;
	width: 100%;
	background-color: lightgreen;
}

header h1 {
	font-size: 1.3em;
	padding-left: 0.5em;
	padding-bottom: -0.3em;
}

header li {
	float: left;
	display: block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 1em;
	padding-left: 0.5em;
}

header li a {
	text-decoration: none;
}

div#main {
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

div#main section figure {
	float: right;
	margin-top: -9em;
}

div#left {
	position: absolute;
	top: 5em;
	left: 0;
	right: 0;
	width: 12em;
	float: left;
}

div#right {
	position: absolute;
	right: 0em;
	top: 5em;
	width: 12em;
	float: right;
}

.interests {
	background-color: khaki;
	padding-top: 1em;
	padding-right: 2em;
	padding-left: 1em;
	padding-bottom: 1em;
	margin-bottom: 1.5em;
	width: 92%;
}

.links {
	background-color: #EEEEEE;
	padding-top: 1em;
	padding-right: 2em;
	padding-left: 1em;
	padding-bottom: 1em;
	margin-bottom: 1.5em;
	width: 92%;
}

.links li {
	padding-bottom: 0.3em;
}

.links a {
	text-decoration: none;
}

.shush {
	width: 100%;
}

#skills {
	border: 11pt solid #EEEEEE;
	width: 100%;
}

.skills {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:last-child td {
  border-bottom: none;
}

h6 {
	background-color: deeppink;
	padding-bottom: 1em;
	padding-top: 0.5em;
	padding-left: 0.3em;
	width: 98%;
}

img, figcaption {
	display: inline-block;
	vertical-align: middle;
}

#hobbies{
	border: 11pt solid #EEEEEE;
	margin-bottom: 1em;
}

#movies{
	border: 11pt solid #EEEEEE;
}

aside li {
	padding-top: 0.2em;
	padding-bottom: 0.4em;
}

#education {
	margin-top: 4em;
}
.section-two{
	min-height: 100vh;
	padding: 20px 100px;
}

.section-two h2{
	color: hotpink;
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 30px 0;
}

.section-two p{
	color: blue;
	font-size: 18px;
	margin: 30px 0;
}

section{
	padding: 100px 200px;
}

.main{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: url(../images/bg.jpg)no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.main .content{
	max-width: 800px;
}

.main .content h2{
	color: #fff;
	font-size: 2em;
	font-weight: 500;
}

.main .content h2 span{
	font-size: 2.8em;
	font-weight: 600;
}

.btn{
	color: #fff;
	background: mediumpurple;
	font-size: 1em;
	font-weight: 600;
	display: inline-block;
	padding: 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	border-radius: 2px;
	margin-top: 30px;
	transition: 0.5s ease;
}

.btn:hover{
	background: deeppink;
}

.media-icons{
	margin-top: 50px;
}

.media-icons a{
	color: #fff;
	font-size: 25px;
	margin-right: 30px;
}


body{
	min-height: 110vh;
}

.titletitle{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.section-title{
	position: relative;
	color: blue;
	font-size: 2.2em;
	font-family: "Times New Roman";
	font-weight: 800;
	margin-bottom: 60px;
}



.about .content{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.about .content .col-left{
	position: relative;
	width: 45%;
}

.about .content .col-right{
	position: relative;
	width: 50%;
}

.about .content .col-left .img-card{
	position: relative;
	width: 100%;
	min-height: 450px;
}

.about .content .col-left .img-card img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.about .content .col-right .content-title{
	font-size: 2em;
	font-weight: 800;
	margin-bottom: 20px;
}

.about .content .col-right .paragraph-text{
	font-size: 1em;
}





.gallery .content{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20px;
}

.gallery .content .card{
	width: 270px;
	margin: 15px;
}

.gallery .content .card .card-img{
	position: relative;
	width: 100%;
	height: 260px;
	overflow: hidden;
	border-radius: 10px;
}

.gallery .content .card .card-img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
	transition: 1s ease;
}

.card {
  margin-bottom: 10px;
}

.card .info {
  margin-top: 1px;
}

.card .info h3 {
  margin-bottom: 1px;
}
.contact {
  margin-bottom: 80px; /*value to adjust the spacing */
}


/*so when I hover over my pics they zoom in slightly*/
.gallery .content .card .card-img img:hover{
	transform: scale(2);
}

.contact .content{
	display: flex;
	justify-content: center;

}

/*makes the contact details display as a row*/
.contact .content .row{
	display: inline-flex;
	justify-content: center;
	overflow: auto;

}

.contact .content .row .card{
	background: #fff;
	width: 240px;
	margin: 20px;
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
	border-radius: 10px;
	overflow: auto;
}







/*for the bottom of the page*/
.footer {
  background: rgb(135,206,235);
  color: white;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer .footer-title {
  font-size: 18px;
  font-weight: 600;
  font-family: "Times New Roman", serif;
}

.footer p {
  font-size: 14px;
  margin-top: 10px;
  font-family: "Times New Roman", serif;
}

.footer p a {
  color: rgb(147, 112, 216);
  font-weight: 600;
  text-decoration: none;
}





/*about myself page - layout*/
section{
	padding: 80px;
}
